<p>
	Based on current route a different component will be rendered below.
</p>
<ul>
	<li><a routerLinkActive="active" routerLink="/">Home</a></li>

	<li><a routerLinkActive="active" routerLink="/first">First Page</a> </li>

	<li><a routerLinkActive="active" routerLink="/second">Second Page</a> </li>
	<li><a routerLinkActive="active" routerLink="/second/1">Second Page (id = 1)</a> </li>
	<li><a routerLinkActive="active" routerLink="/second/2">Second Page (id = 2)</a> </li>
  <li><a routerLinkActive="active" routerLink="/jinesh">Jinesh Page</a> </li>
</ul>
<router-outlet></router-outlet>